# Exclude VS Code settings
.vscode/

# Exclude Python bytecode files
__pycache__/

# Exclude virtual environment directory (if named venv)
venv/

# Exclude uploaded files directory
.vercel
dependency_tree.txt

uploaded_files
